.cell {
    width: inherit;
    height: inherit;
    text-align: center;

    display: table-cell;
    vertical-align: middle;
    background-color: inherit;
    cursor: grab;
}

.cell:hover{
    background-color: cornflowerblue;
}

.init {
    background-color: darkgray;
    font-weight: bold;
    cursor: default;
}

.incorrect {
    background-color: cornflowerblue;
}