.cell {
    width: inherit;
    height: inherit;
    text-align: center;

    display: table-cell;
    vertical-align: middle;
}

.cell:hover{
    background-color: cornflowerblue;
}

.initial {
    background-color: darkgray;
    font-weight: bold;
}